body {
    padding: 0;
    margin: 0;
    font-size: calc( (100vw - 480px) * 1.2 / 450 + 16px);
}

a {
    text-decoration: none;
}

.pg-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    height: 160px;
    width: 100%;
}

.header-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;

    height: 100px;
    width: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner-brand-link {
    height: 100%;
}

.banner-brand {
    margin: 0%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;

    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.brand-logo {
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.brand-textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.brand-textbox-top {
    font-family: 'library-3-am';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    display: flex;
    align-items: center;
    margin: -0.2em 0em;

    color: #003775;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.brand-textbox-bottom {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    margin: 0;

    color: #003775;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner-feedback-link {
    height: 30.44%;
}

.banner-feedback {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0vh 1.563vw;

    height: 100%;

    border: 0.15em solid #003775;
    border-radius: 1em;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner-feedback p {
    font-family: 'M PLUS Rounded 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    color: #003775;
}

.header-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;

    height: 60px;
    width: 100%;

    background: #003775;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-nav-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 5.263vw;

    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu-nav-panel a {
    height: 100%;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.menu-nav-panel a span {
    height: 100%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9em;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
