body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.pg-header-container {
    padding-left: 15.625%;
    padding-right: 15.625%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    font-size: calc( (100vw - 22.5rem)/70 + 1rem);
}

.pg-header-banner-linked {
    width: auto;
}

.pg-header-banner {
    width: auto;

    display: flex;
    margin-left: auto;
    align-items: center;
}

.pg-header-banner-logo {
    height: 3em;
}

.pg-header-banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.pg-header-banner-text-top {
    margin: -0.2em 0em;

    font-family: 'LIBRARY-3-AM';
    font-style: medium;
    font-weight: 400;
    font-size: 1em;

    display: flex;
    align-items: center;

    color: #003775;
}

.pg-header-banner-text-bottom {
    margin: 0%;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.65em;

    display: flex;
    align-items: center;

    color: #003775;
}

.pg-header-feedback { 
    box-sizing: border-box;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    width: 5.35em;
    height: 0.9em;
    
    border: 0.1em solid #003775;
    border-radius: 1em;
}

.pg-header-feedback-text {
    margin: 0;
    font-family: 'M PLUS Rounded 1c';
    font-style: normal;
    font-weight: 500;
    font-size: 0.53em;
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #003775;
    
    flex: none;
    order: 0;
    flex-grow: 0;  
}
